name: release

on:
  workflow_dispatch:
    inputs:
      preRelease:
        description: Create a pre release, if set
        type: boolean
        default: false

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set git config
        run: |
          git config --global user.email "noreply@bluebrown.github.io"
          git config --global user.name "GitHub Actions"

      - name: Login to the container registry
        run: docker login --username bluebrown --password ${{secrets.DOCKERHUB_TOKEN}}

      - name: Set up Go
        uses: actions/setup-go@v4
        with: {go-version: "1.20"}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Create a github release
        run: make github-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PRE_RELEASE: ${{ github.event.inputs.preRelease == 'true' && '1' || '0' }}
